/* import from css.header  */
.headerlogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 0.25rem;
  display: flex;
  margin-bottom: 1rem;
}

.headerlogo > span {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}
/* up till here */
.container {
  display: flex;
  flex-direction: column;
  margin-top: 23rem;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  background: var(--footerColor);
}

.container > span {
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}

.medias {
  display: flex;
  gap: 1.5rem;
}

.medias > * {
  color: var(--hoverColor);
}
