.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  color: var(--fairBlack);
}

.headerlogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 0.25rem;
}

.headerlogo > span {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.menuItems {
  z-index: 99;
  flex: 1;
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
}

.menuItems > li {
  cursor: pointer;
}

.menuItems > li:hover {
  color: var(--hoverColor);
}

.cartSide {
  flex: 1;
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
}

.cart {
  position: relative;
  z-index: 99;
  cursor: pointer;
  display: flex;
}

.label {
  position: absolute;
  display: flex;
  background-color: white;
  border-radius: 50%;
  color: var(--hoverColor);
  width: 15px;
  height: 15px;
  right: -0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
