.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.smallTitle {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-top: 0.7rem;
  font-size: 1rem;

  color: var(--hoverColor);
  font-weight: bold;
}
.smallTitle > span {
  margin-right: -4px;
  z-index: 50;
}

.mainTitle > p {
  text-transform: capitalize;
  font-size: 4rem;
  margin-top: -1px;
}

.btn {
  padding: 0.5rem 2.5rem;
}

.visit {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: max-content;
  top: 6rem;
  gap: 0.5rem;
  color: var(--hoverColor);
  border-radius: 30px;
  background-color: var(--footerColor);
  left: 35rem;
  padding: 0.5rem 1.5rem;
}

.visit:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.visit > div {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  color: var(--fairBlack);
  background: var(--backgroundColor);
  border-radius: 30px;
}
