.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: flex-start;
  color: var(--footerColor);
}

.heading > :nth-child(1) {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

.heading > :nth-child(2) {
  color: var(--fairBlack);
  font-style: italic;
  font-size: 22px;
  text-shadow: 2px 1px var(--footerColor);
}
.heading > :nth-child(3) {
  color: var(--fairBlack);
  font-style: italic;
}

.iceMenu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  align-items: center;
  justify-content: space-between;
}

.icecreamImage {
  height: 21rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  object-fit: cover;
}

.iceName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--footerColor);
  font-size: 1.5rem;
}

.icePrice {
  color: var(--footerColor);
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icecreamMenu:hover {
  transform: scale(1.2);
  cursor: pointer;
}
