.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  gap: 1rem;
}

.heading > :nth-child(1) {
  font-size: 25px;
  color: var(--fairBlack);
}
.heading > :nth-child(2) {
  font-size: 20px;
  color: var(--footerColor);
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.eachService {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imageContainer {
  height: 10rem;
  width: 10rem;
}

.eachService > :nth-child(2) {
  color: var(--footerColor);
  font-size: 25px;
  margin-bottom: -10px;
}
